*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container{
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.header{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 80px;
    align-items: center;
    font-size: 25px;
}
li{
    display: flex;
    background-color: rgba(48, 166, 48, 0.58);
    justify-content: space-between;
    height: 80px;
    width: 700px;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}
li button{
    font-size: 14px;
    height: 40px;
    width: 60px;
}
